"DepotBuildConfig"
{
    // # Set your assigned depot ID here
    "DepotID" "{{ OPEN_BRUSH_WINDOWS_DEPOT_ID }}"

    "ContentRoot" "build_windows_openxr/StandaloneWindows64"

    "FileMapping"
    {
        // Include all files in the build output directory (ContentRoot)
        "LocalPath" "*"

        // Destination is the main install directory
        "DepotPath" "."

        // If LocalPath contains wildcards, setting this means that all
        // matching files within subdirectories of LocalPath will also
        // be included.
        "recursive" "1"
    }

    // Install scripts
    "FileMapping" {
      "LocalPath" "../installscript_win.vdf"
      "DepotPath" "."
    }
    "InstallScript" "../installscript_win.vdf"

    // but exclude all symbol files
    "FileExclusion" "*.pdb"
    "FileExclusion" "build_log.txt"
}
