{
  "title": "Open Brush {{ VERSION }}",
  "icon": "{{ FILENAME }}/Contents/Resources/PlayerIcon.icns",
  "background": "background.png",
  "icon-size": 160,
  "format": "ULFO",
  "filesystem": "APFS",
  "window": {
    "size": {
      "width": 620,
      "height": 349
    }
  },
  "contents": [
    {
      "x": 160,
      "y": 160,
      "type": "file",
      "path": "{{ FILENAME }}"
    },
    {
      "x": 460,
      "y": 160,
      "type": "link",
      "path": "/Applications"
    }
  ]
}
