---
# yamllint disable rule:line-length
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test Unity Credentials
on:
  workflow_dispatch:

env:
  UNITY_VERSION: "2021.3.30f1"
  UNITY_EMAIL: ${{ vars.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}

jobs:
  test_license:
    runs-on: ubuntu-latest
    steps:
      - name: Unity - Activate
        uses: game-ci/unity-activate@v2
      - name: Unity - Return License
        uses: game-ci/unity-return-license@v2
        if: always()
